* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1c1c1c;
}

header div img {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 950px;
    width: 100px;
    float: left;
    background-color: white;
}

nav {
    background-color: white;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: sticky;
    background-color: white;
}

li {
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    border: 1px solid;
    border-radius: 25px;
}

li a {
    margin: 0px;
    padding: 15px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.welcome {
    margin: 30px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: white;
    border: 1px solid;
    box-shadow: 0 0 10px #3cf3ea;
    border-radius: 20px;
    text-align: center;
}

.welcome button {
    margin: 0px;
    padding: 0px;;
    border-color: white;
    border-radius: 20px;
    color: black;
    background-color: white;
}

.image1 img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    flex: content;
    width: 30%;
}

main {
    border: 1px solid;
}

main h1 {
    margin-top: 15px;
    margin-left: 30px;
    padding: 0px;
}

.circle {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid black;
}

main h2 {
    margin: 25px;
    padding: 0px;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main .circle {
    margin-left: 46.5%;
    margin-right: 46.5%;
    background-color: white;
}

.circle img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

h2 {
    font-size: 25px;
}

main .Namatempat {
    margin-left: 75px;
    margin-right: 75px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
    font-size: 40px;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15%;
}

form {
    text-align: left;
    margin-left: 15%;
    padding: 35px;
    width: fit-content;
    border: 1px solid;
    border-radius: 30px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 10px #3cf3ea;
}

input {
    background-color: white;
}

label {
    background-color: white;
}

textarea {
    background-color: white;
}

.boxpesan {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 15%;
    padding: 35px;
    width: 24.5rem;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px #3cf3ea;
}

.boxpesan p {
    background-color: white;
}

.boxpesan span {
    background-color: white;
}

footer {
    margin: 0px;
    padding: 35px;
    border: 1px solid;
    background-color: white;
}

footer div p {
    text-align: right;
    background-color: white;
}