* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1c1c1c;
}

header div img {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 950px;
    width: 100px;
    float: left;
    background-color: white;
}

nav {
    background-color: white;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: sticky;
    background-color: white;
}

ul li {
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    border: 1px solid;
    border-radius: 25px;
}

li a {
    margin: 0px;
    padding: 15px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.welcome {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px #3cf3ea;
    border-radius: 20px;
    text-align: center;
    width: 60rem;
}

aside {
    display: flex;
}

aside img {
    margin-top: 15px;
    margin-left: 125px;
    padding: 1px;
    width: 400px;
    border: 2px solid white;
    border-radius: 50px;
}

.image1 {
    box-shadow: 0 0 20px#0152ff;
}

.image2 {
    box-shadow: 0 0 20px#d8db12;
}

.image3 {
    box-shadow: 0 0 20px#f00505;
}

main {
    margin: 50px;
    padding: 0px;
    text-align: center;
}

main h2 {
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 30px;
    padding: 5px;
    width: 80rem;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0 0 10px #3cf3ea;
    background-color: white;
    font-size: 2.5rem;
}
 
main img {
    margin-left: 43rem;
    margin-right: 43rem;
    margin-bottom: 25px;
    width: 15rem;
    border: 2px solid rgb(15, 225, 240);
    border-radius: 50%;
}

main h3 {
    margin-left: 650px;
    margin-right: 650px;
    margin-bottom: 10px;
    padding: 0px;
    width: 310px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: white;
}

main .profile {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 30px;
    width: 900px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    color: white;
}

main h4 {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 30px;
    padding: 1px;
    width: 900px;
    border: 2px solid rgb(14, 198, 223);
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: black;
    background-color: white;
}

.portofolio1 {
    margin-top: 1px;
    margin-left: 210px;
    margin-right: 210px;
    padding: 10px;
    width: 100px;
    display: flex;
    list-style-type: none;
}

.portofolio1 li {
    margin-left: 65px;
    margin-right: 65px;
    padding: 35px;
    width: 255px;
    border: 3px solid rgb(14, 198, 223);
    border-radius: 10px;
    color: black;
    background-color: rgb(221, 250, 255);
}

.portofolio2 {
    margin-top: 50px;
    margin-left: 425px;
    margin-right: 590px;
    padding: 5px;
    width: 600px;
    display: flex;
    list-style-type: none;
}

.portofolio2 li {
    margin-left: 1px;
    margin-right: 190px;
    padding: 35px;
    width: 255px;
    border: 3px solid rgb(14, 198, 223);
    border-radius: 10px;
    color: black;
    background-color: rgb(221, 250, 255);
}

.portofolio1 li p {
    font-size: 20px;
    background-color: rgb(221, 250, 255);
}

.portofolio2 li p {
    font-size: 20px;
    background-color: rgb(221, 250, 255);
}

.portofolio1 li b {
    font-size: 30px;
    background-color: rgb(221, 250, 255);
}

.portofolio2 li b {
    font-size: 25px;
    background-color: rgb(221, 250, 255);
}

.portofolio1 p {
    margin-top: 10px;
}

.portofolio2 p {
    margin: 10px;
    text-align: left;
}

.p1 p {
    text-align: left;
}

h5 {
    margin-left: 600px;
    width: 30rem;
    color: white;
    text-align: center;
    font-size: 35px;
    border: 1px solid white;
    border-radius: 20px;
}

article {
    margin: 0px;
    padding: 50px;
    width: 110rem;
    display: flex;
    text-align: justify;
}

article form {
    margin-left: 450px;
    margin-right: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px#f00505;    
}

form input {
    background-color: white;
}

form label {
    background-color: white;
}

form textarea {
    background-color: white;
}

article div {
    padding: 35px;
    width: 300px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px #f00505;
    color: black;
    background-color: white;
    font-size: 20px;
}

article div p {
    background-color: white;
}

footer {
    background-color: rgb(255, 255, 255)
}

footer p {
    padding: 40px;
    text-align: right;
    background-color: #ffffff;
}