* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1c1c1c;
}

header div img {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 950px;
    width: 100px;
    float: left;
    background-color: white;
}

nav {
    background-color: white;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    position: sticky;
    background-color: white;
}

li {
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    border: 1px solid;
    border-radius: 25px;
}

li a {
    margin: 0px;
    padding: 15px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.welcome {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px #3cf3ea;
    border-radius: 20px;
    text-align: center;
    width: 60rem;
}

aside img {
    margin-top: 15px;
    margin-left: 125px;
    padding: 1px;
    width: 400px;
    border: 2px solid white;
    border-radius: 50px;
}

.image1 {
    box-shadow: 0 0 20px#0152ff;
}

.image2 {
    box-shadow: 0 0 20px#d8db12;
}

.image3 {
    box-shadow: 0 0 20px#f00505;
}

main section {
    margin: 85px;
    padding: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman';
    border: 1px solid white;
    border-radius: 35px;
}

main h2 {
    padding: 5px;
    color: black;
    font-size: 40px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 0 10px #3cf3ea;
}

main img {
    margin: 45px;
    padding: 0px;
    width: 15rem;
    border: 2px solid white;
    border-radius: 50%;
}

main h3 {
    margin: 0px;
    padding: 10px;
    font-size: 25px;
    color: white;
}
